.GoodsShop .Item,
.GoodsShop .Item .Name,
.GoodsShop .Item .Price,
.GoodsShop .Item .Url,
.GoodsShop .Item .Balance,
.GoodsShop .Item_Select,
.GoodsShop .Item_Select .Name,
.GoodsShop .Item_Select .Price,
.GoodsShop .Item_Select .Url,
.GoodsShop .Item_Select .Balance{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.GoodsShop .Item .Name,
.GoodsShop .Item .Price,
.GoodsShop .Item .Url,
.GoodsShop .Item .Balance,
.GoodsShop .Item .Control,
.GoodsShop .Item_Select {
    text-align: center;
}
.GoodsShop .Item_Select .Name,
.GoodsShop .Item .Name{
    font-weight: bold;
    font-style: italic;
}

.GoodsShop .Item_Select{
    background-color: orange;
}